
<!-- Indentation looks good here! -->
<div id="item_header" class="uk-card uk-card-default uk-card-body uk-animation-slide-left"> Cakes </div>
<div class="row">
  <div class="column">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
      <div class="mainflip">
        <div class="frontside">
          <!-- Do not put styles inline like this. -->
          <div class="card" style="width:25rem;  height:30rem;">
            <img class="card-img-top img- fluid" src="/img/cakes/strawberry_cake.jpg" alt="card image">
            <div class="card-body">
              <h4 class="card-title"><%= @strawberry_cake.name %></h4>
              <p class="card-text"><%= @strawberry_cake.description %></p>
            </div>
          </div>
        </div>
        <div class="backside">
          <!-- Do not put styles inline like this. -->
          <div class="card" style="width:25rem;  height:30rem;">
              <div class="card-header">
                <h4 class="card-title">         <%= @strawberry_cake.price %> </h4>
              </div>
              <div class="card-body">
                <h4 class="card-title"><%= @strawberry_cake.name %></h4>
                <p class="card-text"><%= @strawberry_cake.description %></p>
              </div>
              <div class="card-footer">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
      <div class="mainflip">
        <div class="frontside">
          <!-- Do not put styles inline like this. -->
          <div class="card" style="width:25rem;  height:30rem;">
            <img class="card-img-top img- fluid" src="/img/cakes/vanilla_cakes.jpg" alt="card image">
              <div class="card-body">
                <h4 class="card-title"><%= @vanilla_cake.name %></h4>
                <p class="card-text"><%= @vanilla_cake.description %></p>
              </div>
            </div>
          </div>
          <div class="backside">
            <!-- Do not put styles inline like this. -->
            <div class="card" style="width:25rem;  height:30rem;">
                <div class="card-header">
                  <h4 class="card-title">         <%= @vanilla_cake.price %> </h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><%= @vanilla_cake.name %></h4>
                    <p class="card-text"><%= @vanilla_cake.description %></p>
                </div>
                <div class="card-footer">

                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="column">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
      <div class="mainflip">
        <div class="frontside">
          <!-- Do not put styles inline like this. -->
          <div class="card" style="width:25rem;  height:30rem;">
            <img class="card-img-top img- fluid" src="/img/cakes/chocolate_cake.jpg" alt="card image">
              <div class="card-body">
                <h4 class="card-title"><%= @chocolate_cake.name %></h4>
                <p class="card-text"><%= @chocolate_cake.description %></p>
             </div>
           </div>
         </div>
         <div class="backside">
          <!-- Do not put styles inline like this. -->
           <div class="card" style="width:25rem;  height:30rem;">
             <div class="card-header">
                <h4 class="card-title">         <%= @chocolate_cake.price %> </h4>
             </div>
             <div class="card-body">
               <h4 class="card-title"><%= @chocolate_cake.name %></h4>
                <p class="card-text"><%= @chocolate_cake.description %></p>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
