
<!-- Why is this indentation so bad badru??? -->
<div id="item_header" class="wobble"> Cookies </div>
            <div class="row">
                <div class="column">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                              <div class="mainflip">
                                  <div class="frontside">
                                      <!-- Do not put styles inline like this. -->
                                      <div class="card" style="width:25rem; height:30rem">
                                        <img class="card-img-top img- fluid" src="/img/cookies/Peanut_butter.jpg" alt="card image">
                                        <div class="card-body">
                                            <h4 class="card-title"><%= @peanut_butter.name %></h4>
                                            <p class="card-text"><%= @peanut_butter.description %></p>
                                          </div>
                                        </div>
                                   </div>
                                   <div class="backside">
                                          <div class="card" style="width:25rem; height:30rem">
                                                 <div class="card-header">
                                                    <h4 class="card-title">         <%= @peanut_butter.price %> </h4>
                                                 </div>
                                                 <div class="card-body">
                                                    <h4 class="card-title"><%= @peanut_butter.name %></h4>
                                                    <p class="card-text"><%= @peanut_butter.description %></p>
                                                 </div>
                                                 <div class="card-footer">

                                                 </div>
                                       </div>
                                   </div>
                            </div>
                       </div>
                </div>
                <div class="column">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                    <div class="frontside">
                            <!-- Do not put styles inline like this. -->
                            <div class="card" style="width:25rem; height:30rem">
                                  <img class="card-img-top img- fluid" src="/img/cookies/Oatmeal_cookies.jpg" alt="card image">
                                  <div class="card-body">
                                        <h4 class="card-title"><%= @oatmeal_raisin.name %></h4>
                                        <p class="card-text"><%= @oatmeal_raisin.description %></p>
                                   </div>
                            </div>
                     </div>
                     <div class="backside">
                                <!-- Do not put styles inline like this. -->
                                <div class="card" style="width:25rem;  height:30rem">
                                      <div class="card-header">
                                              <h4 class="card-title">         <%= @oatmeal_raisin.price %> </h4>
                                      </div>
                                      <div class="card-body">
                                              <h4 class="card-title"><%= @oatmeal_raisin.name %></h4>
                                              <p class="card-text"><%= @oatmeal_raisin.description %></p>
                                      </div>
                                      <div class="card-footer">

                                      </div>
                                 </div>
                          </div>
                    </div>
              </div>
      </div>  <div class="column">
      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
             <div class="frontside">
                <!-- Do not put styles inline like this. -->
                <div class="card" style="width:25rem; height:30rem">
                    <img class="card-img-top img- fluid" src="/img/cookies/chocolate-brownies.jpg" alt="card image">
                    <div class="card-body">
                      <h4 class="card-title"><%= @chocolate_brownies.name %></h4>
                      <p class="card-text"><%= @chocolate_brownies.description %></p>
                    </div>
                </div>
              </div>
              <div class="backside">
                <!-- Do not put styles inline like this. -->
                <div class="card" style="width:25rem;  height:30rem">
                  <div class="card-header">
                      <h4 class="card-title">         <%= @chocolate_brownies.price %> </h4>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"><%= @chocolate_brownies.name %></h4>
                      <p class="card-text"><%= @chocolate_brownies.description %></p>
                  </div>
                  <div class="card-footer">
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
